# Transform & Load - Template

### 1. Importing .csv

In [2]:
import pandas as pd

df = pd.read_csv("pandas_examples/RealMedicalData.csv", sep=';')

df.head()

,Acid 1 density,Acid 2 density,Acid 3 density,Cells 1 density,Cells 2 density,Pressure 1,Pressure 2,Bio-marker 1,Bio-marker 2,Biomarker 3,Biomarker 4,Biomarker 5,Biomarker 6,Biomarker 6.1,Biomarker 7,Biomarker 8,Biomarker 9,Biomarker 10,Disease progression
0,"11,6","6,4","4,3","7,2","14,4","19,26","39,32",50,"13,04","0,2","0,044","2,44","2,209","9,02","0,26","1,23","3,56","16,91",6
1,"15,5","10,5","4,9","6,9","13,7","8,57","36,78","22,57","18,7133333333","0,51","0,8501","2,32","0,339","22,43","0,1","0,56","7,06","-3,47",6
2,"15,3","6,5","4,2","6,4","13,6","13,48","25,9","8,25","8,2466666667","0,27","0,9629","2,83","0,339","17,94","0,13","0,59","3,2","10,05",10
3,"13,4","7,7","4,1","5,8","14,2","15,23","44,36","11,09","11,0933333333","0,67","-0,2756","5,06","1,611","11,38","0,2","0,88","4,33","-3,62",18
4,16,"5,2","3,2","5,7","12,8","8,37","19,62","7,44","6,3866666667","0,24","-0,6928","1,59","0,659","8,56","0,27","1,2","4,57","1,56",7

### 2. Transforming the Dataframe

### 3. Exporting

In [3]:
from sqlalchemy import create_engine
import psycopg2

def load_to_postgresql(df, table_name, db_url):
    engine = create_engine(db_url)
    
    with engine.connect() as connection:
        try:
            # Load data to the specified table
            df.to_sql(table_name, con=connection, if_exists='append', index=False)
            print(f"Data loaded successfully into {table_name}")
        except Exception as e:
            print(f"Error loading data: {e}")
        finally:
            connection.close()

# PostgreSQL database URL
db_url = 'postgresql://astel:Lexanahoj1972!@localhost:5432/airlife'
load_to_postgresql(df, 'test_table', db_url)

Data loaded successfully into test_table